/**
* Notifications WooCommerce styles
*/

.woocommerce-message,
.woocommerce-error,
.woocommerce-info {
  @extend .notification, .mb-4, .has-text-white, .is-flex, .ml-0;
}

.woocommerce-error {
  @extend .is-danger;
}

.woocommerce-info,
.woocommerce-message {
  @extend .is-info;

  a {
    @extend .is-block-mobile, .ml-2;

    color: $white;
    text-decoration: underline;
    background-color: transparent;
    height: 20px;

    // @include mobile {
    //   margin-left: 0 !important;
    // }

    &.hover {
      text-decoration: none;
    }
  }
}

abbr.required {
  color: $danger;
}
