/**
* Product loops WooCommerce styles
*/

ul {
  &.products {
    @extend .columns;
    @extend .is-multiline;

    li {
      @extend .column;
      @extend .is-one-quarter;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      img {
        width: 100%;
      }
    }
  }

  .button {
    @extend .is-pulled-right, .my-4;
  }
}

span.woocommerce-Price-amount {
  text-decoration: none;
}

.woocommerce-ordering {
  @extend .select;
  @extend .mb-6;

  @include mobile {
    width: 100%;

    select {
      width: 100%;
    }
  }
}

.products h2.woocommerce-loop-product__title {
  @extend .is-size-4;
}

.woocommerce-result-count {
  @extend .has-text-centered-mobile;

  @include tablet {
    float: right;
  }

  @include mobile {
    margin-bottom: 10px;
  }
}

//Pagination
.woocommerce-pagination {
  @extend .pagination, .is-centered;

  .page-numbers {
    @extend .pagination-list, .ml-0;

    li {
      @extend .is-inline;

      margin: 2px;

      span.current {
        background-color: $pagination-current-background-color;
        color: $pagination-current-color;
        border-color: $pagination-current-border-color;
      }
    }

    a,
    span {
      @extend .pagination-link;

      &:link,
      &:visited {
        @extend .pagination-link;
      }
    }
  }
}
